  <div class="item">

 <%= form_with model: @todo do |form| %>
      <div>
        <%= form.label :description %>
        <%= form.text_field :description, value: @todo.description %>
      </div>

      <div>
        <%= form.label :completed, "Tarefa Completa?" %>
        <%= form.check_box :completed, value: @todo.completed %>
      </div>

      <div>
        <%= form.submit "Update Post" %>
      </div>
  <% end %>
  </div>