<h1>
    Meus todos
</h1>
<%= link_to "Criar ToDo", todos_new_path %>

<% @todos.each do |todo| %>
  <div class="item">
    <h2><%= todo.description %></h2>
    <input type="checkbox" <%= todo.completed ? "checked": "" %>>
    <h3><%= todo.created_at %></h3>
    <%= link_to "Ver ToDO", todo_path(todo.id) %>
  </div>
<% end %>


<%= button_to "Log out", destroy_session_path, method: :delete %>