<div id="MenuBackground">

  <div id="Top">
    <div id="MTD">
      <h1>
          Meus To Dos
      </h1>
    </div>
    <div id="CTD">
      <%= link_to "Criar To Do", todos_new_path %>
    </div>
  </div>

  <div id="Mid">
      <% @todos.each do |todo| %>
        <div id="ToDo">
          <div id="Barra"></div>
          <div id="Texto">
            <div id="Conteudo">
              <%= link_to todo_path(todo.id) do %>
                <h3><%= todo.description %></h3>
              <% end %>
            </div>
          </div>
          <div id="Verificacao">
            <div id="VerificacaoBox">
              <input type="checkbox" <%= todo.completed ? "checked": "" %>>
              <span>
                <%= todo.completed ? "Tarefa Concluída" : "Tarefa Não Concluída" %>
              </span>
            </div>
          </div>
        </div>
      <% end %>
  </div>

  <div id="Bot">
    <div id="Logout">
      <%= button_to "Desconectar", destroy_session_path, method: :delete %>
    </div>
  </div>
</div>